version: "3.6"
services:

  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v24.6.0
        STAKER_SCRIPTS_VERSION: v0.1.0
    environment:
      LOG_TYPE: INFO
      FEE_RECIPIENT: ""
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
    volumes:
      - nimbus-data:/home/user/nimbus-eth2/build/data
    restart: unless-stopped
    stop_grace_period: 1m

  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v24.6.0
        STAKER_SCRIPTS_VERSION: v0.1.0
    environment:
      LOG_TYPE: INFO
      GRAFFITI: validating_from_DAppNode
      FEE_RECIPIENT: ""
      ENABLE_DOPPELGANGER: true
      EXTRA_OPTS: ""

    restart: unless-stopped
    stop_grace_period: 1m
volumes:
  nimbus-data: {}
