version: "3.6"
services:
  beacon-validator:
    build:
      context: proxy
    depends_on:
      - beacon-chain
      - validator
  beacon-chain:
    build:
      context: beacon-chain
      args:
        UPSTREAM_VERSION: v25.3.1
        STAKER_SCRIPTS_VERSION: v0.1.1
        DATA_DIR: /home/user/nimbus-eth2/build/data
    environment:
      LOG_TYPE: INFO
      FEE_RECIPIENT_ADDRESS: ""
      CHECKPOINT_SYNC_URL: ""
      EXTRA_OPTS: ""
    volumes:
      - nimbus-data:/home/user/nimbus-eth2/build/data
    restart: unless-stopped
    stop_grace_period: 1m
  validator:
    build:
      context: validator
      args:
        UPSTREAM_VERSION: v25.3.1
        STAKER_SCRIPTS_VERSION: v0.1.1
        DATA_DIR: /home/user/nimbus-eth2/build/data
    environment:
      LOG_TYPE: INFO
      GRAFFITI: validating_from_DAppNode
      FEE_RECIPIENT_ADDRESS: ""
      ENABLE_DOPPELGANGER: "true"
      EXTRA_OPTS: ""
    volumes:
      - nimbus-validators-data:/home/user/nimbus-eth2/build/data
    restart: unless-stopped
    stop_grace_period: 1m
volumes:
  nimbus-data: {}
  nimbus-validators-data: {}
