name: Bump upstream version

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"
  push:
    branches:
      - "master"
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npx @dappnode/dappnodesdk github-action bump-upstream --use_variants
        env:
          GITHUB_TOKEN: ${{ secrets.DAPPNODE_ACTIONS_PR_CREATOR }}
          PINATA_API_KEY: ${{ secrets.PINATA_API_KEY }}
          PINATA_SECRET_API_KEY: ${{ secrets.PINATA_SECRET_API_KEY }}
